* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font: inherit;
}

:root {
  --gray-100: #1F2523;
  --gray-200: #4D5C57;
  --gray-300: #CDD5D2;
  --gray-400: #E4ECE9;
  --gray-500: #F9FBFA;
  --white-color: #FFFFFF;
  --green-100: #1F8459;
  --green-200: #2CB178;
  --danger-color: #B51919;

  --font-family: "Open Sans", system-ui, sans-serif;

  --px-lg: 8.875rem;
}

html {
  font-family: var(--font-family) ;
}

body {
  background-color: var(--gray-400);
  display: flex;
}